.Card {
  width: 600px;
  height: 600px;
  background-color: var(--color-black);
  color: white;
  position: relative;
  font-family: var(--font-family-alt);
  cursor: pointer;
}

.Card:before {
  content: "";
  background-image: url(/assets/img/card/img-back.jpg);
  background-size: cover;
  background-position: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.1;
  z-index: 0;
}

.Card:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #886bd9;
  /* background: linear-gradient(135deg,#990fc3 0,#760fc3 16%,#652ec3 52%,#652ec3 52%, #990fc3 100%); */
  background: linear-gradient(155deg,#c000fb2b 0,#760fc340 16%,#ffc20008 52%,#2ec39b0f 52%, #990fc36b 100%);
  opacity: .2;
}

.Card-body {
  padding: 44px;
  position: relative;
}

.Card-title h1,
.Card-title h2 {
  text-transform: uppercase;
  font-family: var(--font-family-primary);
  color: var(--color-white);
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 2px;
}

.Card-title h1 {
  font-size: 8rem;
  line-height: .7;
  letter-spacing: 2px;
}

.Card-title h2 {
  font-size: 4rem;
  margin-top: 6px;
  margin-left: 6px;
  letter-spacing: 2px;
  color: var(--color-yellow);
}

.Card-title h1 span {
  color: var(--color-yellow);
}

.Card-title p {
  border-top: 1px solid var(--color-yellow);
  text-transform: uppercase;
  padding-top: 8px;
  margin-top: 10px;
  font-size: 2rem;
  letter-spacing: 1px;
  display: inline-block;
  color: var(--color-gray-light);
}

.Card .Ribbon {
  position: absolute;
  left: auto;
  right: 34px;
  z-index: 0;
}

.Card .Ribbon-body {
}

.Card .Ribbon-text {
  font-family: var(--font-family-primary);
}

.Card-line {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 424px;
  opacity: 0.8;
}

.Card-middle {
  font-size: 1.8rem;
  margin-top: 40px;
  width: 80%;
}

.Card-support {
  position: absolute;
  bottom: 48px;
  right: 38px;
  background-color: var(--color-yellow);
  padding: 20px 16px;
  height: 112px;

}

.Card-support small {
  display: block;
  color: var(--color-black);
  font-size: 1rem;
  margin-bottom: 4px;
}

.Card-support img {
  width: 50px;
  display: inline-block;
  vertical-align: top;
}

.Card-support img:last-child {
  width: 54px;
}

.Card-footer {
  position: absolute;
  bottom: 48px;
  left: 44px;
  padding: 20px;
  height: 112px;
  border: 2px solid var(--color-yellow);
}

.Card-footer-day {
  text-transform: uppercase;
  font-family: var(--font-family-primary);
  line-height: 1;
  letter-spacing: 2px;
  font-size: 4rem;
  font-weight: bold;
  color: var(--color-yellow);
  display: inline-block;
}

.Card-footer-month {
  text-transform: uppercase;
  font-family: var(--font-family-primary);
  color: var(--color-white);
  line-height: 1;
  letter-spacing: 2px;
  font-size: 2.5rem;
  display: inline-block;
}

.Card-footer h3 {
  font-size: 1.6rem;
  margin: 10px 0 0;
  text-transform: uppercase;
}
