.Home-section {
  text-align: center;
  min-height: 500px;
  /* background: var(--color-black); */
  padding: 20px;
  display: flex;
  align-items: center;
}

@media (--md-viewport) {
  .Home-section {
    height: 96vh;
    padding: 0 20px;
    min-height: 700px;
  }
}

.Home-section-body {
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.Home-section--hero {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  text-transform: uppercase;
}

.Home-section--hero:before {
  content: "";
  background-image: url(https://images.unsplash.com/photo-1518932945647-7a1c969f8be2?auto=format&fi…aWQiOjEyMDd9&ixlib=rb-0.3.5&q=80&s=fc333d7…&w=1280);
  background-size: cover;
  background-position: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.16;
  z-index: 0;
}

.Home-section--hero:after {
  content: "";
  height: 40vh;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, var(--color-black));
  z-index: 0;
}

.Home-section-body {
  text-align: center;
  width: 100%;
}

.Home-section-register {
  margin-top: 40px;
}

.Home-section h1 {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 7rem;
  margin: 0;
  line-height: 1;
}

@media (--md-viewport) {
  .Home-section h1 {
    font-size: 13rem;
  }
}

@media (--lg-viewport) {
  .Home-section h1 {
    font-size: 14rem;
  }
}

.Home-section h1 span {
  color: var(--color-yellow);
}

.Home-section h2 {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 4rem;
  margin: 6px;
}

@media (--lg-viewport) {
  .Home-section h2 {
    font-size: 6rem;
  }
}

.Home-section p {
  border-top: 1px solid var(--color-yellow);
  padding-top: 10px;
  display: inline-block;
  color: var(--color-yellow);
  letter-spacing: 1px;
  font-family: var(--font-family-alt);
  font-size: 1.1rem;
}

@media (--lg-viewport) {
  .Home-section p {
    font-size: 1.6rem;
  }
}

.Home-section .Home-section-meta {
  margin-top: 60px;
  line-height: 1.4;
}

.Home-section .Home-section-meta a {
  color: #fff;
  text-decoration: none;
}

.Home-section .Home-section-down {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

.Home-section--foo:before {
  content: "";
  background-image: url(https://images.unsplash.com/photo-1518932945647-7a1c969f8be2?auto=format&fi…aWQiOjEyMDd9&ixlib=rb-0.3.5&q=80&s=fc333d7…&w=1280);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Home-down {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  color: #fff;
  left: 0;
  right: 0;
  font-size: 1.6rem;
  opacity: 0.6;
  cursor: pointer;
}

.Home-section--next {
  padding: 40px 0;
}

.Home-section--next .Home-section-item--left {
  align-self: center;
  padding: 2em;
  letter-spacing: 1px;
}

@media (--md-viewport) {
  .Home-section--next .Home-section-item--left {
    letter-spacing: 0;
  }
}

@media (--md-viewport) {
  .Home-section--next .Home-section-body {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 2em;
    line-height: 2;
    font-family: var(--font-family-alt);
  }

  .Home-section--next .Home-section-item--left {
    align-self: center;
  }
}

.Home-section--date .Home-section-body {
  border: 2px solid var(--color-blue);
  padding: 2em 1em;
  max-width: 800px;
  margin: 0 auto;
  color: var(--color-sky);
  box-shadow: 10px 10px 0 0 color(var(--color-blue) a(10%)), -4px -4px 0 0 color(var(--color-yellow) a(60%));
  background-color: rgba(102, 153, 204, 0.02);
}

@media (--lg-viewport) {
  .Home-section--date .Home-section-body {
    padding: 4em;
    font-size: 2rem;
  }
}

.Home-section--date .Home-section-body ul {
  font-size: 1.4rem;
  font-family: var(--font-family-alt);
  margin-bottom: 10px;
}

.Home-section--date .Home-section-bottom {
  margin-top: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-yellow);
}

.Home-section--date .Home-section-bottom a {
  border-bottom: 2px solid var(--color-yellow);
  color: var(--color-yellow);
}

.Home-section--date h2 {
  text-transform: uppercase;
  margin: 0 1em .6em;
  font-size: 2.6rem;
}

@media (--lg-viewport) {
  .Home-section--date h2 {
    margin: 0 6em 1em;
    font-size: 3rem;
  }
}

.Home-section--date p {
  font-size: 1.6rem;
}
