.Ribbon {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 10;
  text-align: center;
  color: var(--color-black);
}

@media (min-width: 40em) {
  .Ribbon {
    position: fixed;
    left: 60px;
    z-index: 10;
    text-align: center;
  }
}

.Ribbon-body {
  background-color: var(--color-yellow);
  width: 56px;
  padding: 8px 0;
}

@media (min-width: 40em) {
  .Ribbon-body {
    width: 60px;
  }
}

.Ribbon-title {
  text-transform: uppercase;
  font-size: 1rem;
}

.Ribbon-text {
  transform: rotate(-90deg);
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 4;
  letter-spacing: 1px;
  margin-top: 30px;
}

@media (--md-viewport) {
  .Ribbon-text {
    font-size: 1.8rem;
    margin-top: 40px;
  }
}
