.Slider [data-action] {
  display: none;
}

.Slider-body {
  position: relative;
}

.Slider-body:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-blue);
  opacity: .2;
}

@media (min-width: 40em) {
  .Slider {
    border: 1px solid var(--color-yellow);
    position: relative;
    /* box-shadow: -10px -10px 0 0 color(var(--color-blue) a(10%)); */
  }

  .Slider:before {
    content: "";
    border: 2px solid var(--color-blue);
    position: absolute;
    top: 4px;
    right: -4px;
    bottom: -4px;
    left: 2px;
  }
}

.Slides > div {
  position: relative;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 400px;
}

@media (min-width: 40em) {
  .Slides > div {
    height: 600px;
  }
}
