{{#extend "default"}} {{#content "body"}}

<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

<div class="Card" id="Card">
  <div class="Card-body">

    <img class="Card-line" src="/assets/img/card/img-line.png" alt="image">

    <div class="Ribbon">
      <div class="Ribbon-body">
        <div class="Ribbon-title">
          Edición
        </div>

        <div class="Ribbon-text">
          {{meta.edition}}
        </div>
      </div>
    </div>

    <div class="Card-title">
      <h1>Beer<span>JS</span></h1>
      <h2>Valdivia</h2>
      <p>Encuentro de cerveza y código</p>
    </div>

    <div class="Card-middle">
      BeerJS y Nube te invitan a hablar de desarrollo y compartir
      una buena cerveza.
      <br>
      <br>
      <br>
      <small>
        Regístrate en <b>valdivia.beerjs.cl</b>
      </small>
    </div>
  </div>

  <div class="Card-support">
    <small>Organiza</small>
    <img src="/assets/img/card/lgo-nube.png" alt="image">
    <img src="/assets/img/card/lgo-devschile.png" alt="image">
  </div>

  <div class="Card-footer">
    <div class="Card-footer-day">
      Jueves 23 /
    </div>
    <div class="Card-footer-month">
      Agosto
    </div>
    <h3>Serrano 958, 18:30 hrs</h3>
  </div>
</div>

<script>
const card = document.querySelector('#Card')

card.addEventListener('click', () => {
  html2canvas(card).then(canvas => {
    var link = document.createElement('a')
    link.href = canvas.toDataURL()
    link.download = 'beerjs-valdivia.jpg'
    document.body.appendChild(link)
    link.click()
  })
})
</script>

{{/content}} {{/extend}}
