<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta.title}}</title>

    <style>html.init body{visibility:visible}html.init-1 body{opacity:1}body{-webkit-transition:opacity .4s ease;transition:opacity .4s ease;visibility:hidden;opacity:0}</style>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:400,700,900" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/icon/favicon-16x16.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" />
    <link rel="stylesheet" href="assets/styles/main.css">
  </head>
  <body>
    {{#block "body"}}{{/block}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/tiny-slider.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/min/tiny-slider.js"></script>
    <script src="assets/scripts/main.js"></script>
    <script>var el=document.querySelector('html').classList;setTimeout(function(){el.add('init');},10);setTimeout(function(){el.add('init-1');},700);</script>
  </body>
</html>
